<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mizore.DBUtils.AdminMapper">
    <select id="getAdmin" resultType="Admin" parameterType="String">
        select * from admin where name=#{name}
    </select>
    <insert id="insertAdmin" parameterType="Admin">
        insert into admin(name,password) values(#{name},#{password})
    </insert>
    <update id="updataPassword" parameterType="String">
        update admin set password="" where name=#{name};
    </update>
</mapper>