<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mizore.DBUtils.UserMapper">
    <insert id="insertGood" parameterType="Good">
        insert into good(name,count,description,type) values(#{name},#{count},#{description},#{type})
    </insert>
    <delete id="deleteGood" >
        delete from good where id=#{id}
    </delete>
    <update id="updateCount" >
        update good set count=#{arg1} where id=#{arg0}
    </update>
    <update id="updateDes">
        update good set description=#{arg1} where id=#{arg0};
    </update>
    <update id="updateType">
        update good set type=#{arg1} where id=#{arg0};
    </update>
    <select id="getGood" resultType="Good">
        select * from good where name=#{name};
    </select>
</mapper>