<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mizore.DBUtils.UserMapper">
    <insert id="insertOrder" parameterType="Order">
        insert into order(name,count,address,customer,seller) values(#{name},#{count},#{address},#{customer},#{seller})
    </insert>
    <delete id="deleteOrder" >
        delete from order where id=#{id}
    </delete>
    <update id="updateOrderCount" >
        update order set count=#{arg1} where id=#{arg0}
    </update>
    <update id="updateAddress">
        update order set address=#{arg1} where id=#{arg0}
    </update>
    <update id="updateCustomer">
        update order set customer=#{arg1} where id=#{arg0}
    </update>
    <update id="updateSeller">
        update order set seller=#{arg1} where id=#{arg0}
    </update>
    <update id="updateName">
        update order set name=#{arg1} where id={arg0}
    </update>
    <select id="getOrderByCustomer" resultType="order">
        select * from order where customer=#{name}
    </select>
    <select id="getOrderBySeller" resultType="order">
        select * from order where seller=#{name}
    </select>
</mapper>